<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://anixart.tizen.app" version="1.0.0" viewmodes="maximized">
    <tizen:application id="anixart.tizen" package="anixart" required_version="6.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="assets/icons/icon.png"/>
    <name>Anixart</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="tv"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto"/>
    <access origin="https://api-s.anixsekai.com" subdomains="true"/>
    <access origin="https://anixhelper.github.io" subdomains="true"/>
    <access origin="*" subdomains="true"/>
</widget>
